/* HomePage.css */

.image-overlay-container {
  position: relative;
}

.full-width-image {
  width: 100%;
  height: auto;
  display: block;
}

.button-group {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust the exact center */
  text-align: center;
  width: 100%; /* Full width of the container */
}

.action-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 20px 40px; /* Larger padding for bigger buttons */
  margin: 10px;
  cursor: pointer;
  font-size: 24px; /* Larger font size */
  width: 40%; /* Button width to take up a significant portion of the screen */
  min-width: 250px; /* Minimum width for smaller screens */
  transition: transform 0.3s ease;
  display: inline-block; /* Align buttons next to each other */
}

.action-button:first-child {
  background-color: #28a745; /* Green */
  color: white;
}

.action-button:last-child {
  background-color: #17a2b8; /* Blue */
  color: white;
}
.action-button:hover {
  transform: scale(1.02); /* Enlarge the button on hover */
}

@media (max-width: 768px) {
  .action-button {
    width: 80%; /* Larger width on smaller screens */
    padding: 15px; /* Adjust padding for smaller screens */
    font-size: 18px; /* Adjust font size for readability */
  }
}
a {
  text-decoration: none; /* Removes the underline */
}